on early-init
    mkdir /dev/cpuset 0755 system system
    mount cpuset none /dev/cpuset nodev noexec nosuid
    mkdir /dev/cpuset/foreground 0755 system system
    mkdir /dev/cpuset/foreground/boost 0755 system system
    mkdir /dev/cpuset/background 0755 system system
    mkdir /dev/cpuset/system-background 0755 system system
    mkdir /dev/cpuset/restricted 0755 system system
    mkdir /dev/cpuset/top-app 0755 system system
    mkdir /dev/cpuset/camera-daemon 0755 system system

    copy /dev/cpuset/cpus /dev/cpuset/foreground/cpus
    copy /dev/cpuset/mems /dev/cpuset/foreground/mems
    copy /dev/cpuset/cpus /dev/cpuset/foreground/boost/cpus
    copy /dev/cpuset/mems /dev/cpuset/foreground/boost/mems
    copy /dev/cpuset/cpus /dev/cpuset/background/cpus
    copy /dev/cpuset/mems /dev/cpuset/background/mems
    copy /dev/cpuset/cpus /dev/cpuset/system-background/cpus
    copy /dev/cpuset/mems /dev/cpuset/system-background/mems
    copy /dev/cpuset/cpus /dev/cpuset/restricted/cpus
    copy /dev/cpuset/mems /dev/cpuset/restricted/mems
    copy /dev/cpuset/cpus /dev/cpuset/top-app/cpus
    copy /dev/cpuset/mems /dev/cpuset/top-app/mems
    copy /dev/cpuset/cpus /dev/cpuset/camera-daemon/cpus
    copy /dev/cpuset/mems /dev/cpuset/camera-daemon/mems

    chown system system /dev/cpuset
    chown system system /dev/cpuset/foreground
    chown system system /dev/cpuset/foreground/boost
    chown system system /dev/cpuset/background
    chown system system /dev/cpuset/system-background
    chown system system /dev/cpuset/restricted
    chown system system /dev/cpuset/top-app
    chown system system /dev/cpuset/camera-daemon
    chown system system /dev/cpuset/tasks
    chown system system /dev/cpuset/foreground/tasks
    chown system system /dev/cpuset/foreground/boost/tasks
    chown system system /dev/cpuset/background/tasks
    chown system system /dev/cpuset/system-background/tasks
    chown system system /dev/cpuset/restricted/tasks
    chown system system /dev/cpuset/top-app/tasks
    chown system system /dev/cpuset/camera-daemon/tasks
    chmod 0664 /dev/cpuset/tasks
    chmod 0664 /dev/cpuset/foreground/tasks
    chmod 0664 /dev/cpuset/foreground/boost/tasks
    chmod 0664 /dev/cpuset/background/tasks
    chmod 0664 /dev/cpuset/system-background/tasks
    chmod 0664 /dev/cpuset/restricted/tasks
    chmod 0664 /dev/cpuset/top-app/tasks
    chmod 0664 /dev/cpuset/camera-daemon/tasks

service lilac_cpuset /vendor/bin/init.lilac-cpuset.sh
    class late_start
    user root
    group root system
    oneshot
    disabled

on property:sys.boot_completed=1
    start lilac_cpuset
